/*---------------avec divs-------------------*/
.progress_container{
    background-color: gray;
    height: 30px;
    width: 300px;
}

.progress_container div{
    background-color: green;
    height: 30px;
    width: 0;
    text-align: center;
}

label{
    font-weight: bold;
}

.pourcentage{
    font-size: 20px;
    font-weight: bold;
}
.progress{
    display: inline-block;
    margin-right: 15px;
}

.menu{
    margin-bottom: 50px;
}

.textAreas{
    margin-bottom: 50px;
}






