progress::-webkit-progress-bar {
    background-color: grey;
    border-radius: 10px;
    overflow: hidden;
 }

 progress::-webkit-progress-value {
    background-color: red;
    /*background-color: var(--boxAfterBackColor,green);
    /*transition: filter 300ms, width 300ms;*/
  }

progress{
    -webkit-appearance: none;
    appearance: none;
    margin-right: 50px;
    height: 35px;
    line-height: 40px;
    width: 400px;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    font-size: 14px;
}


progress::before{
    content: attr(title);
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: white;
    left: 0%;
}
progress::after{
    content: attr(value) '%';
    color: black;
    font-size: 20px;
    font-weight: bold;
}


/*---------------avec divs-------------------*/
.progress_container{
    background-color: gray;
    height: 30px;
    width: 300px;
}

.progress_container div{
    background-color: green;
    height: 30px;
    width: 0;
    text-align: center;
}

label{
    font-weight: bold;
}

.pourcentage{
    font-size: 20px;
    font-weight: bold;
}
.progress{
    display: inline-block;
    margin-right: 15px;
}

.menu{
    margin-bottom: 50px;
}

.textAreas{
    margin-bottom: 50px;
}






